*{
    margin: 0;
    backdrop-filter: blur(3px);
}

body{
    height: 620px;
    background-image: url(pexels-photoscom-68629.jpg);
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

#pagemain{
    width: 400px;
    height: 400px;
    border-radius: 50px;
    background-color: rgb(21, 167, 53);
    box-shadow: 6px 20px 10px black;
  
    margin-top: 10px;
    align-items: center;
    padding: 20px 20px 20px 20px;
    
}

#volver{
    width: 100px;
    height: 100px;
    border: transparent;
    background: url(https://cdn0.iconfinder.com/data/icons/customicondesignoffice5/256/go-back.png) no-repeat 0px 5px;
    background-size: 30px;
    padding: 10px 10px 10px 10px;
}

h1{
    margin-top: 20px;
    color: white;
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
}